body{
    background-color: #14ff64;
}

h1{
    border-bottom: blueviolet;
    border-bottom-width: thick;
    border-bottom-style: groove;
    color: #db3ec8;
    font-size: 500%;
    text-align: center;
}

#sub_title {
    font-size: 250%;
    text-align: center;
}

#daily_info {
    width: 75%;
    float: left;
}

#student_sign_in {
    width: 25%;
    float: right;"
}

.signIn_header {
    font-size: 100%;
    text-align: center;
}