<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Tutor Page</title>
</head>
<body>

<h4> Enter new tutor information.</h4>
<form action="confirm page">
    <label>NAME:</label>
    <input type="text" name="First and Last name" maxlength="45" required="required">
    <label>Course(s):</label>
    <input type="text" name="Course Number/Name" maxlength="50" required="required">
    <label>Monday:</label>
    <input type="text" name="Start Time - End Time" maxlength="30">
    <label>Tuesday:</label>
    <input type="text" name="Start Time - End Time" maxlength="30">
    <label>Wednesday:</label>
    <input type="text" name="Start Time - End Time" maxlength="30">
    <label>Thursday:</label>
    <input type="text" name="Start Time - End Time" maxlength="30">
    <label>Friday:</label>
    <input type="text" name="Start Time - End Time" maxlength="30">
    <input type="submit" value="Submit">
    </form>
{#        submit routes to order-saved, but no info#}

</body>
</html>