<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Menu options</title>
</head>
<body>
<h1>Admin ONLY functions</h1>
<p>Please click on the appropriate link...</p>
<ul>
    <li><a href="{{ url_for('add_tutor') }}"><em>Click Here</em>to ADD a tutor</a></li>
    <li><a href="{{ url_for('index') }}"><em>Click Here</em>to UPDATE tutor information</a></li>
    <li><a href="{{ url_for('index') }}"><em>Click Here</em>to DELETE a tutor</a></li>
</ul>

<a href="{{ url_for('index') }}">Click <em>here</em> for home screen</a>
{#def main():#}
{#    # again = "Y" #set a value for flow control#}
{#    end = input(" enter 0 to quit, anything else to continue: ")#}
{##}
{#    while end != "0":#}
{#        #print menu for user options#}
{#        print("****Calculation Menu****")#}
{#        print("1: Addition ")#}
{#        print("2: Subtraction ")#}
{#        print("3: Multiplication ")#}
{#        print("4: Division ")#}
{#        # ask user to select from menu#}
{#        user_choice = input("Please choose a function: ")#}
{#        print() #blank line#}
{#        #get numbers for calculation#}
{#        num1 = int(input("Enter the first digit: "))#}
{#        num2 = int(input("Enter the second digit: "))#}
{##}
{#        #call the function that the user chooses#}
{#        if user_choice == "1":#}
{#            result1 = Calc.add(num1, num2)#}
{#            print(result1)#}
{#        elif user_choice == "2":#}
{#            result1 = Calc.subtract(num1, num2)#}
{#            print(result1)#}
{#        elif user_choice == "3":#}
{#            result1 = Calc.multiply(num1, num2)#}
{#            print(result1)#}
{#        elif user_choice == "4":#}
{#            result1 = Calc.divide(num1, num2)#}
{#            print(result1)#}
{#        #after result is displayed ask the user to continue or end program#}
{#        print() #blank line#}
{#        end = input("Enter 0 to quit, anything else to continue: ")#}
{##}
{##}
{#        print() #should be spaces, unreachable with added if/else block#}
{#        print()#}


</body>
</html>