<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <!--<link rel="stylesheet" type="text/css" href="/static/stylesheet.css">-->
    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">

</head>
<body>

<div id="logo">
    <img src="https://assets.gradreports.com/assets/school_logos/square/mctc.png"/>
</div>

<div id="sub_title">
    <p>ITECH Tutor Drop-in Hours:</p>
</div>
<!--<div id="daily_info" style="width:75%; float: left;">-->
    <div id="daily_info">
    {% for tutor in tutors %}
    <h2> Name: {{ tutor.name }}<span> is here today from: {{ tutor.availability}}</span></h2>
    <h3> {{ tutor.courses }}</h3>
    {% endfor %}
    </div>

<div id="student_sign_in">
    <p>All students please sign in here</p>
    <form action="{{ url_for('student_information') }}" method="post" >
       <!--<button>Student Sign In</button>-->
        <label for="studentName">First and Last name:</label>
        <input type="text" name="studentName" id="studentName" size="15" maxlength="40" required="required"/>
        <br><br>
        <label for="starId">Star ID:</label>
        <input type="password" name="starId" id="starId" size="15" maxlength="8" required="required"/>
        <br><br>
        <input type="submit" name="Submit" value="Submit ID" />

    </form><br>
</div>

<a href="{{ url_for('login') }}">Click <em>here</em> for admin page</a>

<!--<div id="admin_id">-->
    <!--<form action="{{ url_for('login') }}">-->
        <!--<label for="admin_id">Go to Admin page: </label>-->
        <!--<input type="button" name="Admin access:" value=" Admin Login Page">-->
    <!--</form>-->
<!--</div>-->
<!--{#NEED to fix MCTC logo#}-->
<!--add the database to track star ID info-->
<!--add the database to get tutor schedule/daily info-->
<!--object oriented????-->

<!--and......... so much more.-->

</body>
</html>